{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <!-- Favicon -->
        <link rel="sortcut icon" href='{% static "image/Favicon.png" %}' type="image/x-icon">
        <title>BVA - Diario Clinico</title>

        <!-- Css Import -->
        <link rel="stylesheet" href="{% static 'css/Componenti.css' %}">
        <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
        <link rel="stylesheet" href="{% static 'css/cartella_paziente/diario_clinico/diarioClinico.css' %}">
       
        <!-- Bootstrap import -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- JS Import -->  
    
        <!-- Font Import  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

        <!-- CDN Import -->

    </head>

    <body>
        <!-- Loader -->
        {% include 'components/loader.html' %}

        <!-- NAVBAR -->
        {% include 'components/navBar.html' %}

        <main>
            <!-- MENU TRACE -->
            <div class="main-title-nav">

                <div class="back-tittle">
                    
                    <a id="back" href="{% url 'cartella_paziente' persona.id %}">
                        <img src="{% static 'image/Arrow_Back.png' %}">
                    </a>

                    <h2 class="main-welcome-title">
                        <span>{{ persona.surname|title }}</span>
                        <span>{{ persona.name|title }}</span> |
                        <span>Età: {{ persona.chronological_age }}</span>
                        {% if persona.phone and persona.email %}
                        |
                        <span class="phone_span">
                            <img src="{% static 'image/Phone.png' %}" width="20px" height="20px">
                            Telefono: {{ persona.phone }}
                        </span> |
                        <span class="email_span">
                            <img src="{% static 'image/Email_Violet.png' %}" width="20px" height="20px">
                            Email: {{ persona.email }}
                        </span>
                        {% endif %}
                    </h2>
                </div>
            
                <div class="main-menu-trace">
                    <a href="{% url 'HomePage' %}">
                        <img src="{% static 'image/Home.png' %}" alt="Home Page" title="Home Page" />
                    </a>
                    <p>»</p>
                    <p>
                        <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                    </p>
                    <p>»</p>
                    <p class="breadcrumb">Diario Clinico</p>
                </div>
            </div>  

            <div class="container-tabella">
                <div class="header-container">
                    <button class="button active">Diario</button>
                    <button class="button">Farmaci</button>
                    <button class="button">Accertamenti</button>
                    <button class="button">Certificati</button>
                </div>
              
                <div class="container-content">
                    <div class="header-table">
                        <div class="header-cella">
                            <p>Data</p>
                        </div>
                        <div class="header-cella">
                            <p>Descrizione</p>
                        </div>
                        <div class="header-cella">
                            <p>Diagnosi</p>
                        </div>
                        <div class="header-cella">
                            <p>Nota</p>
                        </div>
                    </div>

                    <div class="container-table">

                        <div class="row-table">
                            <div class="row-cella">
                                <p>02/07/2025</p>
                            </div>
                            <div class="row-cella">
                                <p>Xanax</p>
                            </div>
                            <div class="row-cella">
                                <p>depressione</p>
                            </div>
                            <div class="row-cella">
                                <p>nota testuale</p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p>emocromo e urino cultura</p>
                            </div>
                            <div class="row-cella">
                                <p>diagnosi sospetta</p>
                            </div>
                            <div class="row-cella">
                                <p>infezione</p>
                            </div>
                            <div class="row-cella">
                                <p>nota testuale</p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p>certificati</p>
                            </div>
                            <div class="row-cella">
                                <p>buona salute</p>
                            </div>
                            <div class="row-cella">
                                <p>costituzione</p>
                            </div>
                            <div class="row-cella">
                                <p>nota testuale</p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                            <div class="row-cella">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="pagination_tabella">
                      
                    {% if storico_page.has_previous %}
                    <a class="previous" href="?page={{ storico_page.previous_page_number }}">Previous</a>
                    {% else %}
                    <span class="previous disabled">Previous</span>
                    {% endif %}
            
                    {% for num in storico_page.paginator.page_range %}
                    {% if storico_page.number == num %}
                    <span class="current">{{ num }}</span>
                    {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}
            
                    {% if storico_page.has_next %}
                    <a class="next" href="?page={{ storico_page.next_page_number }}">Next</a>
                    {% else %}
                    <span class="next disabled">Next</span>
                    {% endif %}
            
                </div>
                
            </div>

        </main>
    </body>
</html>